<% include ./header %>
    <div class=row>
        <div class=col-lg-4>
            <h2>廠商A</h2>
            <form action="/query/AcomResult/delete" method="POST" novalidate>

                <table border=1 bordercolor=#003366 width=1100>
                    <tr>
                        <th>廠商名稱</th>
                        <th>零件代碼</th>
                        <th>零件名稱</th>
                        <th>零件數量</th>
                        <th>廠商A地址</th>
                        <th>負責人</th>
                        <th>負責人手機號碼</th>
                        <th>模具借出時間</th>
                        <th>模具應歸還時間</th>
                        <th></th>
                    </tr>

                    <tr>
                        <th>

                            <input type="hidden" name='Aname' value=<%= acom.firmName %> />

                            <%= acom.firmName %>
                        </th>
                        <th>
                            <%= acom.componentId %>
                        </th>
                        <th>
                            <a href="#" id="componentName" data-type="text" data-pk="1" data-url="/post" data-title="update componentName">
                                <%= acom.componentName %>
                            </a>
                        </th>
                        <th>
                            <a href="#" id="componentQuantity" data-type="text" data-pk="1" data-url="/post" data-title="update componentQuantity">
                                <%= acom.componentQuantity %>
                            </a>
                        </th>
                        <th>
                            <a href="#" id="address" data-type="text" data-pk="1" data-url="/post" data-title="update address">
                                <%= acom.address %>
                            </a>
                        </th>
                        <th>
                            <a href="#" id="personIC" data-type="text" data-pk="1" data-url="/post" data-title="update personIC">
                                <%= acom.personIC %>
                            </a>
                        </th>
                        <th>
                            <a href="#" id="phoneNo" data-type="text" data-pk="1" data-url="/post" data-title="update phoneNo">
                                <%= acom.phoneNo %>
                            </a>
                        </th>


                        <th>
                            <a href="#" id="lendOT" data-type="text" data-pk="1" data-url="/post" data-title="update lendOT">
                                <%= acom.lendOT %>
                            </a>
                        </th>
                        <th>
                            <a href="#" id="returnT" data-type="text" data-pk="1" data-url="/post" data-title="update returnT">
                                <%= acom.returnT %>
                            </a>
                        </th>
                        <th>
                            <input type="submit" value="刪除">
                        </th>
                    </tr>
                </table>
            </form>
        </div>
    </div>
