<% include ./header %>
<a href="#" id="username" data-type="text" data-pk="1" data-url="/post" data-title="Enter username">superuser</a>
<div class=row>
    <div class=col-lg-4>
            <h2>廠商A</h2>
            <table border=1 bordercolor=#003366 width=1100>
                <tr>
                    <th>廠商名稱</th>
                    <th>負責人</th>
                    <th>電話號碼</th>
                    <th>廠商A地址</th>
                    <th>零件代碼</th>
                    <th>零件名稱</th>
                    <th>模具借出時間</th>
                    <th>模具應歸還時間</th>
                    <th>修改</th>
                    <th>刪除</th>
                  </tr>

                  <tr>
                          <th>
                              <%= acom.firmName %>
                          </th>
                                  <th>
                                      <%= acom.componentId %>
                                  </th>
                                          <th>
                                              <%= acom.componentName %>
                                          </th>
                                          <th>
                                              <%= acom.componentQuantity %>
                                          </th>
                                          <th>
                                              <%= acom.address %>
                                          </th>
                                          <th>
                                              <%= acom.phoneNo %>
                                          </th>
                                          <th>
                                              <%= acom.personIC %>
                                          </th>
                                          <th>
                                              <%= acom.lendOT %>
                                          </th>
                                          <th>
                                              <%= acom.returnT %>
                                          </th>
                                                      <th>修改</th>
                                                      <th>刪除</th>
                  </tr>
              </table>
          </div>
      </div>
